@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&family=Sora:wght@300&display=swap');

.conteudo-calculadora {
    font-family: 'Sora', sans-serif;
    display: flex;
    margin-top: 15vh;
    flex-direction: column;
    align-items: center;

    h1 {
        color: #dd619a;
        margin-bottom: 2px;
        font-size: 2.5em;
        font-family: "Baloo Bhai 2", cursive;
    }

    form {
        display: flex;
        flex-direction: column;
        row-gap: 0.3em;
        width: 30%;

        input {
            border: 1px solid #c5c5c5;
            border-radius: 3px;
            color: #5e5e5e;
            padding: 5px;
            font-size: 16px;
            background: #fdfdfd;
        }

        button {
            margin-top: 1em;
            background: #f8dce6;
            border: 1px solid #d7a5b7;
            padding: 5px;
            box-shadow: inset 1px 1px white;
            font-size: 16px;
            border-radius: 3px;
            color: #cb527d;
        }

        button:active {
            box-shadow: inset 1px 1px 0px #cb527d;
            border: 1px solid #cb527d;
            color: white;
            background-color: #fa8cb2;
        }
    }

    .resultado {
        text-align: center;

        img {
            width: 200px;
            border-radius: 10px;
            border: 4px solid white;
        }

        #classe {
            font-weight: bold;
        }

        .perigo {
            color: red
        }
    
        .atencao {
            color: orange;
        }
    
        .ok {
            color: green;
        }
    }
}